<footer class="mt-4 blue">
  <div class="row">
    <div class="col-12">
      <div class="col-12 mb-3">
        <h6 class="text-center font-weight-bold">TCC Jornalismo 2020</h6>
        <div class="d-flex justify-content-center">
          <div class="red-border w-75 col-1"></div>
        </div>
      </div>
      <p>
        <strong>Por:</strong> Alessandra Barreto, Aloysio Petitinga, João Augusto Araújo e
        Marcelo Noia<br />
        <strong>Coordenadora:</strong> Patrícia Moraes<br />
        <strong>Professores Orientadores:</strong> Alberto Oliveira, Euro Azevedo,
        Leonardo Bião e Marcos Uzel
      </p>
    </div>
  </div>
</footer>
