.tricolor {
  font-family: "Cellotype";
  color: #294273;
}

.acoes {
  color: #e8222b;
  margin-top: -30px;
  font-size: 1.4rem;
  font-weight: 700;
}

.sep {
  font-weight: bold;
  color: #e8222b;
}

.link {
  color: #294273;
}
