<div class="row mt-5">
  <div class="col-md-12 text-center">
    <h1 class="display-1 tricolor">Tricolor</h1>
    <h3 class="text-bold text-uppercase acoes">de ações</h3>
  </div>
</div>
<div class="mt-5 d-flex justify-content-between">
  <a [routerLink]="['']" class="h4 link text-nowrap text-uppercase">Ações do Bahia</a>
  <span class="sep h5">|</span>
  <a [routerLink]="['']" class="h4 link text-nowrap text-uppercase">Futebol Brasileiro</a>
  <span class="sep h5">|</span>
  <a [routerLink]="['']" class="h4 link text-nowrap text-uppercase">Não é só futebol</a>
</div>
