<div class="mt-4 row">
  <div class="col-12">
    <div class="col-12 mb-3">
      <h4 class="blue text-center">Sobre o Projeto</h4>
      <div class="d-flex justify-content-center">
        <div class="red-border col-1"></div>
      </div>
    </div>
    <p class="blue text-center h5 mt-3">
      Esse projeto snowfall tem como principal objeto de estudo a relação entre o futebol
      e a sociedade, mediante análise das ações afirmativas promovidas pelo Esporte Clube
      Bahia. As ações afirmativas e sociais têm como principal objetivo reverter as
      situações de desigualdade historicamente acumuladas, garantir a igualdade de
      oportunidades e tratamento, de forma a compensar perdas provocadas pela
      discriminação e marginalização que ocorrem no nosso dia a dia, seja na forma do
      racismo, machismo, homofobia dentre outros.
    </p>
  </div>
</div>
