<div class="mt-4 row">
  <div class="col-12 mb-3">
    <h4 class="blue text-center">Equipe Entrelinhas</h4>
    <div class="d-flex justify-content-center">
      <div class="red-border col-1"></div>
    </div>
  </div>
  <div class="col-6">
    <div class="col-12 mb-2 text-center">
      <p class="display-4 nome">Alessandra</p>
      <img
        class="img-fluid rounded img-size"
        src="assets/alessandra.png"
        alt="Alessandra"
      />
    </div>
    <div class="col-12">
      <p class="h5 blue text-center">
        Estudante de jornalismo, apaixonada por futebol e audiovisual. Atua como social
        media e tem paixão pela área de comunicação.
      </p>
    </div>
  </div>
  <div class="col-6">
    <div class="col-12 mb-2 text-center">
      <p class="display-4 nome">Aloysio</p>
      <img class="img-fluid rounded img-size" src="assets/aloysio.png" alt="Aloysio" />
    </div>
    <div class="col-12">
      <p class="h5 blue text-center">
        Estudante de jornalismo torcedor apaixonado e futuro jornalista. Tem o futebol
        como seu melhor aliado!
      </p>
    </div>
  </div>
  <div class="col-6">
    <div class="col-12 mb-2 text-center">
      <p class="display-4 nome">Marcelo</p>
      <img class="img-fluid rounded img-size" src="assets/marcelo.png" alt="Marcelo" />
    </div>
    <div class="col-12">
      <p class="h5 blue text-center">
        Acredita no esporte como ferramenta de transformação. Carrega consigo a vibração
        do futebol e do basquete.
      </p>
    </div>
  </div>
  <div class="col-6">
    <div class="col-12 mb-2 text-center">
      <p class="display-4 nome">João</p>
      <img class="img-fluid rounded img-size" src="assets/joao.png" alt="João" />
    </div>
    <div class="col-12">
      <p class="h5 blue text-center">
        Carrega no peito seu amor pelas quadras de basquete e pela beira dos gramados. E
        tem viagens como seu hobbie principal!
      </p>
    </div>
  </div>
</div>
