<div class="mt-4 row">
  <div class="col-12 mb-3">
    <h4 class="blue text-center">Equipe Entrelinhas</h4>
    <div class="d-flex justify-content-center">
      <div class="red-border col-1"></div>
    </div>
  </div>
  <div class="col-6">
    <app-foto-equipe
      src="alessandra.png"
      nome="Alessandra"
      descricao="Estudante de jornalismo, apaixonada por futebol e audiovisual. Atua como social
  media e tem paixão pela área de comunicação."
    ></app-foto-equipe>
  </div>
  <div class="col-6">
    <app-foto-equipe
      src="aloysio.png"
      nome="Aloysio"
      descricao="Estudante de jornalismo torcedor apaixonado e futuro jornalista. Tem o futebol
    como seu melhor aliado!"
    ></app-foto-equipe>
  </div>
  <div class="col-6">
    <app-foto-equipe
      src="marcelo.png"
      nome="Marcelo"
      descricao="Acredita no esporte como ferramenta de transformação. Carrega consigo a vibração
      do futebol e do basquete."
    ></app-foto-equipe>
  </div>
  <div class="col-6">
    <app-foto-equipe
      src="joao.png"
      nome="João"
      descricao="Carrega no peito seu amor pelas quadras de basquete e pela beira dos gramados. E
      tem viagens como seu hobbie principal!"
    ></app-foto-equipe>
  </div>
</div>
