<div class="mt-3"></div>
<app-nao-futebol></app-nao-futebol>
<h3 class="blue d-flex justify-content-center text-weight-bolder">
  As ações no futebol brasileiro
</h3>
<p class="text-justify blue">
  Apesar de ser o que mais chama atenção, o Bahia não é o único, e nem foi o primeiro,
  clube brasileiro que decidiu abraçar essas causas tão importantes. Em 2012, por exemplo,
  seis anos antes da criação do Núcleo de Ações Afirmativas do Bahia, o seu maior rival, o
  Vitória, fez uma bela campanha social para conscientizar as pessoas sobre a importância
  da doação de sangue.
</p>
<p class="text-justify blue">
  O clube rubro-negro, que tem seu uniforme tradicional sendo o vermelho e preto em
  listras horizontais, tirou o vermelho (para representar o sangue) da sua camisa e
  colocou branco no lugar. À medida que os torcedores doavam sangue, o vermelho voltava
  para a camisa aos poucos, gradualmente, debaixo para cima.
</p>
<p class="text-justify blue">
  A campanha, com o nome “Meu sangue é rubro-negro”, fez as doações de sangue aumentarem
  cerca de 46% na cidade de Salvador, de acordo com o Hemoba (Fundação de Hematologia e
  Hemoterapia da Bahia). E, surpreendendo o clube e seu torcedores, não foram só os fãs do
  Vitória que aderiram à campanha, mas muitos torcedores do Bahia também fizeram questão
  de contribuir.
</p>
<p class="text-justify blue">
  Em maio de 2019, outra bela campanha, que tocava mais uma questão importante, tomou
  forma no futebol brasileiro. O Fortaleza, clube cearense, vivia a melhor fase da sua
  história. Em seis meses, foi campeão da Série B, do campeonato cearense e da Copa do
  Nordeste. Mesmo assim, foram vistas pichações no muros do centro de treinamentos do
  time, com os dizeres: “desisto”, “vergonha” e “é o fim”.
</p>
<p class="text-justify blue">
  Muitas pessoas que passavam ficaram sem entender, já que o clube passava por um ótimo
  momento no gramados e financeiramente, simplesmente não fazia sentido a cobrança. Porém,
  era uma ação social do próprio Fortaleza que, depois, foi revelada pelo presidente do
  clube, Marcelo Paz. A ação era em prol da valorização da vida e conscientização sobre
  suicídio e depressão.
</p>
<p class="text-justify blue">
  “O clube Fortaleza passa por um bom momento, e as pichações nas sedes deixaram as
  pessoas com dúvidas: ‘Por que isso?’. Às vezes você observa alguém que está ali e parece
  bem, mas a pessoa está passando por uma depressão ou tem uma tristeza que pode gerar um
  pensamento suicida. Precisamos trabalhar a prevenção. Queremos lembrar de ter mais
  carinho, amor e gentileza com os que estão próximos da gente”, explicou o presidente do
  clube.
</p>
<p class="text-justify blue">
  Em 2020, o jogador Victor Cantillo, recém-contratado pelo Corinthians, foi ‘proibido’
  pelo gerente de futebol do clube, Duílio Alves, de utilizar a camisa de número 24 no
  clube, por razões homofóbicas. Segundo Duílio, na época, “24 aqui não”, já que o número
  é enraizado na sociedade brasileira como o do veado, no jogo do bicho, e utilizado como
  motivo de chacotas homofóbicas.
</p>
<p class="text-justify blue">
  Aproveitando-se da polêmica, pela qual o gerente de futebol depois se desculpou. O
  Bahia, Flamengo, São Paulo, Palmeiras, entre outros clubes brasileiros, foram abraçados
  pela marca de cerveja Brahma, e patrocinaram uma mudança deste cenário no futebol
  brasileiro. Liderados pelo tricolor baiano, os clubes fizeram algum jogador do elenco
  mudar seu número de camisa para o 24, afirmando que este seria o número do respeito dali
  em diante.
</p>
