<div class="mt-3"></div>
<app-nao-futebol></app-nao-futebol>
<h3 class="blue d-flex justify-content-center text-weight-bolder">
  As ações no futebol brasileiro
</h3>
<p class="text-justify blue">
  Apesar de ser o que mais chama atenção, o Bahia não é o único e nem foi o primeiro clube
  brasileiro que decidiu abraçar causas tão importantes. Em 2012, por exemplo, seis anos
  antes da criação do Núcleo de Ações Afirmativas do Bahia, o seu maior rival, o
  Vitória-BA, fez uma bela campanha social para conscientizar as pessoas sobre a
  importância da doação de sangue.
</p>
<p class="text-justify blue">
  O clube rubro-negro, que tem seu uniforme tradicional sendo o vermelho e preto, em
  listras horizontais, tirou a cor rubra (para representar o sangue) da sua camisa e
  colocou o branco no lugar. À medida que os torcedores doavam sangue, o vermelho voltava
  para a camisa aos poucos, gradualmente, debaixo para cima.
</p>
<p class="text-justify blue">
  A campanha, de nome “Meu sangue é rubro-negro”, fez as doações de sangue aumentarem
  cerca de 46% na cidade de Salvador, de acordo com o Hemoba (Fundação de Hematologia e
  Hemoterapia da Bahia). E, surpreendendo o clube e seu torcedores, não foram só os fãs do
  Vitória que aderiram à campanha, mas muitos torcedores do Bahia também fizeram questão
  de contribuir.
</p>
<app-banner src="camisas_vitoria.png" alt="Camisas da campanha do Vitória"></app-banner>
<p class="mt-3 text-justify blue">
  Em maio de 2019, outra bela campanha, que tocava mais uma questão importante (e que
  muitas vezes passa batida), tomou forma no futebol brasileiro. O Fortaleza, clube
  cearense, vivia uma das melhores fases da sua história. Em seis meses, foi campeão da
  Série B, do campeonato cearense e da Copa do Nordeste. Mesmo assim, foram vistas
  pichações nos muros do centro de treinamentos do time, com os dizeres: “desisto”,
  “vergonha” e “é o fim”.
</p>
<p class="text-justify blue">
  Muitas pessoas ficaram sem entender, já que o clube passava por um ótimo momento
  futebolisticamente e financeiramente. Simplesmente não fazia sentido o protesto. Porém,
  era uma ação social do próprio Fortaleza que depois foi revelada pelo presidente do
  clube, Marcelo Paz. A campanha era em prol da valorização da vida e conscientização
  sobre suicídio e depressão.
</p>
<p class="text-justify blue">
  “O clube Fortaleza passa por um bom momento, e as pichações nas sedes deixaram as
  pessoas com dúvidas: ‘Por que isso?’. Às vezes você observa alguém que está ali e parece
  bem, mas a pessoa está passando por uma depressão ou tem uma tristeza que pode gerar um
  pensamento suicida. Precisamos trabalhar a prevenção. Queremos lembrar de ter mais
  carinho, amor e gentileza com os que estão próximos da gente”, explicou o presidente do
  clube.
</p>
<p class="text-justify blue">
  Em 2020, o jogador Victor Cantillo, recém-contratado pelo Corinthians, foi ‘proibido’
  pelo gerente de futebol do clube, Duílio Alves, de utilizar a camisa de número 24 no
  clube, por razões homofóbicas. Segundo Duílio, na época, “24 aqui não”, já que o número
  é enraizado na sociedade brasileira como o do veado, no jogo do bicho, e utilizado como
  motivo de chacotas homofóbicas.
</p>
<p class="text-justify blue">
  Aproveitando-se da polêmica, pela qual o gerente de futebol depois se desculpou, Bahia,
  Flamengo, São Paulo, Palmeiras, entre outros clubes brasileiros, foram abraçados pela
  marca de cerveja Brahma, e patrocinaram uma mudança deste cenário no futebol brasileiro.
  Liderados pelo tricolor baiano, os clubes fizeram algum jogador do elenco mudar seu
  número de camisa para o 24, afirmando que este seria o número do respeito dali em
  diante.
</p>

<!-- Imagem nº 24 -->

<p class="text-justify blue">
  A movimentação dos clubes nacionais é cada vez maior para campanhas e causas sociais
  como estas. O Bahia, apesar de não ter sido o primeiro na luta, é o que mais se engaja,
  mais lança ações e toma atitudes na atualidade, influenciando de maneira muito positiva
  outros clubes, torcidas e a sociedade como um todo.
</p>

<h3 class="blue text-weight-bold">Pioneirismo, política e marketing</h3>
<p class="text-justify blue">
  Portanto, vale ressaltar as tomadas de atitude do clube. Obviamente as ações sociais não
  são de cunho absolutamente beneficentes. O Bahia quer marketing, a propagação da sua
  imagem e que seu nome seja repercutido, nacional e internacionalmente. Mas engana-se que
  as ações sejam ocas por causa desse viés publicitário.
</p>
<p class="text-justify blue">
  Como já mostrado antes, o Bahia consegue unir o útil ao agradável, de forma inteligente.
  As suas jogadas de marketing são sempre feitas em momentos determinantes, quando surge
  uma deixa e sempre aproveitando a boa performance do time em campo, quando calha, para
  não gerar revolta da torcida. As ações são sempre pensadas de forma bastante
  estratégica.
</p>
<p class="text-justify blue">
  Por exemplo, no início de novembro de 2020, morreu, vítima de Covid-19, o humorista e
  torcedor do clube Jotinha. Ele era uma figura amada pelo público, conhecida
  nacionalmente pelos seus áudios cômicos no WhatsApp e campanhas feitas com o Bahia. Ele
  quem sustentava sua família, em Elísio Medrado, interior da Bahia.
</p>
<p class="text-justify blue">
  Com isso, o Bahia lançou uma camisa comemorativa, com uma caricatura do humorista, para
  vender na sua loja e pela internet. A campanha atingiu todas as grandes mídias e foi
  amplamente divulgada, em todo território nacional. A deixa, mesmo sendo triste, foi
  aproveitada. E, depois de explorar o lado publicitário, entra o lado humanitário do
  clube. Toda a renda conseguida através da venda das camisas será doada à família de
  Jotinha em Elísio Medrado.
</p>
<p class="text-justify blue">
  Esse é o grande diferencial. Como já dito, o marketing é um foco gigante no clube e isso
  não é segredo. Mas o Bahia, felizmente, também se preocupa em fazer o bem. O Tricolor
  sabe que desta forma consegue atingir a grande maioria das pessoas, já que, comumente, o
  resultado é benéfico à todos. E para discutir um pouco sobre isso, convidamos você para
  escutar um podcast especial com o jornalista do ESPN e colunista do El país, Breiller
  Pires. Confere aí!
</p>

<iframe
  src="https://open.spotify.com/embed-podcast/episode/4zLOVp00dJQbMoHqwDM4Nb"
  width="100%"
  height="232"
  frameborder="0"
  allowtransparency="true"
  allow="encrypted-media"
></iframe>

<p class="mt-3 text-justify blue">
  Constantemente as ações do Bahia são ligadas à política. O próprio presidente do clube,
  Guilherme Bellintani, já especulou uma possível candidatura à prefeitura de Salvador -
  que não foi à frente. Ele seria candidato filiado ao Partido dos Trabalhadores (PT). Por
  isso, a imagem do Bahia e de suas ações afirmativas é recorrentemente associada ao cunho
  da esquerda.
</p>
<p class="text-justify blue">
  Em entrevista com Lênin Franco, gerente de marketing do clube, ele negou que exista
  partidarização ou qualquer viés político nas ações do Bahia: “a gente ainda tem uma
  quantidade de pessoas que partidariza isso e leva para outro caminho. A grande
  dificuldade de alguns é não entender que esse posicionamento não tem nada a ver com
  política”.
</p>
<p class="text-justify blue">
  O Brasil vive um cenário político atual bastante bipolarizado, onde quase tudo é
  diretamente associado à política. Essa é uma dificuldade que o Bahia precisa enfrentar
  ao divulgar tais ações. Mostrar que não é o “Clube da Lacração”, como vem sendo taxado,
  mas que, na verdade, é defensor de causas humanitárias e sociais, que suas ações nada
  tem a ver com política ou partidarização, mas sim com o aquilo que o clube crê que seja
  correto e com o que precisa ser mudado, tanto no futebol quanto na sociedade.
</p>
