<div class="row mt-4">
  <div class="col-12">
    <h3 class="blue d-flex justify-content-center text-weight-bolder">
      Bahia de todos e ponto
    </h3>
    <p class="text-justify blue">
      Uma indagação que deveria ser corriqueira é: qual a graça do futebol? São 22 seres
      pensantes correndo instintivamente atrás de uma bola, de maneira quase inata e nem
      sempre racional. Um longo gramado, cercado por quatro retas de cal, demarca a
      batalha. Nas extremidades, três postes de metal branco e maciço formam a moldura do
      objetivo principal, culminando nos barbantes, que decaem de maneira graciosa e
      sempre levam todos às vibrações mais intensas.
    </p>
    <blockquote class="text-center blue">
      “Posso morrer pelo meu time<br />
      Se ele perder, que dor, imenso crime<br />
      Posso chorar se ele não ganhar<br />
      Mas se ele ganha não adianta<br />
      Não há garganta que não pare de berrar”<br />
      <strong>(Skank - É uma partida de futebol)</strong>
    </blockquote>
    <p class="text-justify blue">
      Pode não fazer sentido explicando de maneira literal, mas, quem vive e sente o
      futebol, sabe que o intrigante deste esporte vai muito além do que os olhos veem. É
      inefável a paixão que transborda por esse jogo. Não que não exista uma explicação
      lógica, mas porque a mesma nem precisa ser dada. Futebol se sente e fim.
    </p>
    <p class="text-justify blue">
      Tendo isso em mente, crê-se que o esporte mais popular do planeta seja um ambiente
      democrático, para todos. Onde pessoas de todos os lugares, credos e tipos possam se
      sentir incluídas e plenas. Ora, teoricamente, sim. Mas, na prática, todos sabem que
      o caminho ainda é longo até se chegar nessa realidade quase que utópica.
    </p>
    <p class="text-justify blue">
      Infelizmente, a beleza desse jogo tão atrativo é muitas vezes manchada por parte de
      quem o ama. O cerne do futebol ainda é muito masculinizado, portanto casos de
      homofobia e machismo são cruelmente comuns. Vai além. Apesar de muitos dos gigantes
      da sua história serem negros, o futebol vive mostrando seu lado racista
      constantemente. O preconceito ainda é vivo no jogo que deveria ser do povo.
    </p>
    <p class="text-justify blue">
      Para isso e para tanto, existem as lutas, as mudanças. O Esporte Clube Bahia é um
      exemplo ímpar neste quesito. Sempre tido como um clube das massas, o tricolor baiano
      faz questão de honrar a alcunha nos últimos anos, com belas ações afirmativas,
      sociais e inclusivas, que permitem que, pelo menos por um instante, o futebol seja,
      de fato, democrático, empático e demagogo.
    </p>
    <p class="text-justify blue">
      O reflexo de tais ações no clube e na sociedade em que está inserido são reais. O
      Bahia, hoje, respira novos ares. Os torcedores do clube se influenciam e se
      orgulham, em sua grande maioria, entendendo que este jogo foi feito para ser amado
      por todos, sem discriminações. Confira:
    </p>
    <div class="embed-container">
      <iframe
        src="https://www.youtube.com/embed/LNw2BUlHnuI"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <h3 class="mt-3 blue d-flex justify-content-center text-weight-bolder">
      Em nome do pai
    </h3>
    <p class="text-justify blue">
      De acordo com o último Censo Escolar, realizado pelo Conselho Nacional de Justiça
      (CNJ) e divulgado em 2013, existem 5,5 milhões de crianças brasileiras sem o nome do
      pai na certidão de nascimento. Na semana que antecedeu o Dia dos Pais, em 2019, o
      Bahia, Junto à Defensoria Pública da Bahia, lançou um vídeo em suas redes sociais
      (Instagram, Twitter, Facebook e YouTube) que teve como intenção principal reduzir e
      trazer reflexão sobre esse número exorbitante.
    </p>
    <div class="embed-container mb-3">
      <iframe
        src="https://www.youtube.com/embed/w0ZPNer-T5g"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="text-justify blue">
      Além da peça audiovisual, que teve a direção de Pis Santos, roteiro de Pis e Tiago
      César e produção de Victor Cerqueira, com locução feita por Carolina Ribeiro, o
      Bahia realizou uma campanha, na loja oficial do clube, que ofereceu testes de DNA
      gratuitos e tirou dúvidas sobre registro paterno. A ação durou uma semana e
      beneficiou mais de 100 crianças, segundo dados revelados pelo próprio clube.
    </p>
    <p class="text-justify blue">
      Nos sete meses anteriores à campanha foram realizados 190 exames de DNA na cidade de
      Salvador. Em apenas cinco dias de campanha na loja oficial do clube o número de
      exames era de 90, quase metade do número inicial. Além disso, foram 291 atendimentos
      de orientação jurídica para registro de paternidade.
    </p>
    <p class="text-justify blue">
      A campanha também teve uma grande repercussão nas redes sociais do clube. Veja
      abaixo os números oficiais de interações:
    </p>
    <ul class="blue">
      <li>
        <fa-icon [icon]="twitter"></fa-icon>
        Twitter: 1,3 milhão de impressões, 1 milhão de visualizações, 105 mil de
        engajamento total;
      </li>
      <li>
        <fa-icon [icon]="facebook"></fa-icon>
        Facebook: 625 mil de alcance, 115 mil visualizações, 12 mil de engajamento total;
      </li>
      <li>
        <fa-icon [icon]="instagram"></fa-icon>
        Instagram: 61 mil visualizações, 17 mil curtidas, 1,3 mil comentários;
      </li>
      <li>
        <fa-icon [icon]="youtube"></fa-icon>
        YouTube: 11,5 mil visualizações, 1,1 mil curtidas, 89 comentários;
      </li>
    </ul>
    <app-banner src="levante_bandeira.png" alt="Levante a bandeira"></app-banner>
    <h3 class="blue mt-3 d-flex justify-content-center text-weight-bolder">
      Levante a bandeira
    </h3>
    <p class="text-justify blue">
      Seis barras horizontais e seis cores diferentes. Assim é formado um dos símbolos do
      orgulho e da resistência LGBTQIA+. Usada desde a década de 1970, a bandeira, ainda
      vista com muito preconceito, ganhou holofotes em 2019, na 19ª rodada do Campeonato
      Brasileiro. No duelo entre Bahia e Fortaleza, o Tricolor de Aço organizou e executou
      a campanha “Levante a Bandeira”, que visava combater a homofobia dentro e fora das
      quatro linhas.
    </p>
    <p class="text-justify blue">
      A ação, lançada no dia 14 de setembro de 2019, foi divulgada nas redes sociais do
      Bahia através de um vídeo narrado por um costureiro, assumidamente homossexual, que
      é torcedor do clube. Na campanha, o Esquadrão trouxe uma reflexão sobre a “linha da
      vida”, buscando demonstrar como a vida dos homossexuais se torna mais curta, mais
      perigosa, devido ao preconceito sobre a sua orientação sexual.
    </p>
    <p class="text-justify blue">
      Segundo os dados registrados pelo Grupo Gay da Bahia (GGB), entidade que coleta
      informações sobre a homotransfobia há mais de 40 anos, em Salvador, por exemplo, o
      número de mortes violentas de pessoas LGBTQIA+ é alarmante: das 329 mortes que
      ocorreram em 2019, 12 (3,65%), ocorreram na cidade soteropolitana - o que a deixou,
      como a capital com mais mortes no país. Já em termos estaduais, a Bahia ocupa o
      segundo lugar no Brasil: foram 32 mortes (9,73%) no ano em questão. O Estado do
      Tricolor de Aço fica atrás somente de São Paulo, que registrou 50 mortes (15,2%).
    </p>
    <p class="text-justify blue">
      Além desses números, também pode-se notar a gravidade dessa questão em outros
      gráficos produzidos pelo GGB. A entidade registrou, em 2019, 329 casos de mortes
      violentas de pessoas que integram o grupo LGBTQIA+. Em comparação com os dois anos
      anteriores, é possível notar uma queda no número de casos: 420 em 2018 e o recorde,
      445, em 2017.
    </p>
    <p class="text-justify blue">
      Entretanto, a pesquisa ainda traz números preocupantes, uma vez que nas últimas duas
      décadas a média de mortes aumentou. Em 2000, em média, eram 130 homicídios. Já em
      2010, o número era de 260. Enquanto isso, essa média saltou para 398 nos últimos
      três anos.
    </p>
    <p class="text-justify blue">
      Outro dado que ilustra esse problema foi levantado pela ONG Transgender Europe
      (TGEu), em 2016. A TGEu publicou uma pesquisa revelando como o Brasil é, de maneira
      isolada, o país que mais mata transexuais. O levantamento, realizado entre janeiro
      de 2008 e julho de 2016, revelou que no país morreram, pelo menos, 868 travestis e
      transexuais durante esse período. Para se ter ideia, no México, segundo colocado do
      ranking, morreram 259 pessoas – um número três vezes menor do que os registrados no
      território brasileiro.
    </p>
    <app-banner src="intolerancia.png" alt="Intolerância"></app-banner>
    <p class="mt-3 text-justify blue">
      A cada 26 horas um LGBTQIA+ é assassinado ou se suicida vítima da LGBTfobia, o que
      confirma o Brasil como campeão mundial de crimes contra as minorias sexuais. Segundo
      agências internacionais de direitos humanos, matam-se muitíssimo mais homossexuais e
      transexuais no Brasil do que nos 13 países do Oriente e África onde persiste a pena
      de morte contra tal segmento. Mais da metade dos assassinatos de pessoas LGBTQIA+ no
      mundo ocorrem no Brasil (WAREHAM, 2020).
    </p>
    <blockquote class="text-center font-weight-bold blue">
      “Agora vai ser assim, sempre que alguém disser<br />
      onde acaba meu campo, eu levantarei bandeira”
    </blockquote>
    <div class="embed-container mb-3">
      <iframe
        src="https://www.youtube.com/embed/BsaPLQbc0vU"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="text-justify blue">
      Buscando alertar sobre o cotidiano de crimes motivados pela homofobia e repudiar
      cânticos, xingamentos ou gestos homofóbicos, dentro dos estádios e fora deles.
    </p>
    <p class="text-justify blue">
      O vídeo da ação acima, buscava, principalmente, alertar sobre o cotidiano de crimes
      motivados pela homofobia e repudiar cânticos, xingamentos ou gestos homofóbicos,
      dentro dos estádios e fora deles. Mais ação foi além e trouxe um insight ao ativista
      militante, Onã Rudá a fundar a LGBTricolor, torcida organizada para a comunidade
      LGBTQIA+. A nossa equipe entrou em contato com ele para uma conversa sobre a criação
      da torcida e seu espaço dentro e fora dos estádios.Confira na íntegra o ping pong
      com Onã:
    </p>
    <p class="text-justify blue">
      <strong>Repórter:</strong> Conta um pouco de quem é você para gente?<br />
      <strong>Onã Rudá:</strong> Eu me chamo Onã Rudá, tenho 30 anos, sou militante,
      ativista do movimento social atuo na união nacional LGBT e na aliança internacional
      LGBTQIA+ mas também trato de outras temáticas, como a questão racial, a questão do
      trabalho, enfim. Sou fundador da torcida LGBTricolor, e sou também um dos fundadores
      e articuladores da canarinhos arco-íris, que é esse coletivo nacional de torcidas
      lgbts que ajuda a organizar e pensar esse processo de inclusão de pessoas LGBT no
      universo do futebol tradicional.<br />
      <strong>R:</strong> Como é contato da LGBTricolor com as outras torcidas, como você
      pode fazer um balanço?<br />
      <strong>Onã:</strong> Constante! A gente se articula nacionalmente nesse momento a
      gente está até em diálogo com a turma da ligay, que é uma liga amadora formada por
      jogadores LGBT. Só que assim, o perfil da torcida é fazer ação de inclusão de
      pessoas LGBT no ambiente do futebol tradicional. Então a gente tá criando outra
      frente de inclusão também. Vai que daqui a pouco algum clube encontre um jogador
      interessante, dentro da ligay. Olha que revolução a gente pode estar promovendo, no
      universo do futebol. Ter alguns jogadores, assumidamente gays, nesse universo. Mas,
      a gente tem um contato constante. Todo dia, toda hora a gente se fala, fala sobre
      tudo que acontece, se surge alguma coisa do futebol relacionada ao mundo LGBT chega
      na mesma hora no grupo, a turma é muito atenta e a gente se comunica bastante. A
      gente faz terapia juntos (risos).<br />
      <strong>R:</strong> A LGBTricolor, tem uma visibilidade muito grande mediante a
      outras torcidas. Um exemplo é a do time rival, que basicamente quase nenhum torcedor
      conhece. Você acha que isso é uma questão de apoio do clube diretamente?<br />
      <strong>Onã:</strong> Eu acho! Eu acho que o fato do clube se pronunciar, o clube
      falar, isso cria uma outra possibilidade, entendeu? Eu procuro o presidente do Bahia
      para podermos falar das coisas (relacionadas a causa LGBT) e ele dá atenção. Quando
      não consigo com ele, consigo com outras pessoas. Então os meninos do orgulho
      rubro-negro (torcida LGBT do Vitória) ainda estão nessa batalha. Isso acontece com
      muitas torcidas LGBTs no Brasil. E alguns, que tinha uma vida assídua no futebol,
      estão tendo que parar seu contato com o esporte, tendo que observar suas vidas
      pessoais, por conta das ameaças. Não é uma luta simples! Eu acho que a LGBTricolor
      tem mais trânsito porque o Bahia trata a gente de uma maneira diferente. Nós somos
      resultado de uma ação do clube. O clube chamou a gente pra dentro. No momento em que
      dizem que dentro do Bahia não cabe LGBTfobia. <br />
      <strong>R:</strong> Como está sendo a recepção de outras torcidas do Bahia? <br />
      <strong>Onã:</strong> Eu posso dizer a vocês que eu pude contar. Conto com o apoio
      de outras torcidas. Conto até com um espaço para diálogo, inclusive com a turma da
      maior torcida organizada do clube, a quem eu tenho o máximo de respeito, porque eu
      tinha 9 anos de idade quando meu pai me levou para a Torcida Bamor. Eu acho que eles
      têm muita responsabilidade hoje no que eu sinto pelo clube. Tenho muito respeito,
      por quem faz esse clube ser o que é, num momento que ninguém acreditava que o clube
      poderia voltar e ser esse gigante. O que a gente tem que fazer é aparar as arestas e
      procurar os pontos de convergências para a gente tornar o clube melhor. A gente não
      pode tratar disso numa lógica de criminalização, como a gente vê em alguns momentos.
      Eu posso dizer a vocês com muita tranquilidade a gente é acolhido, tem problemas, um
      aqui outro ali, mas na minha visão tá secundarizada. O respeito que a gente tem, até
      por ser fruto de uma ação do clube, o clube decidiu que dentro do seu espaço não
      cabia. Então quem faz, está indo de encontro ao que o clube prega. Bahia é o que é,
      porque é um clube democrático. Então o Bahia não deve nada a nenhum clube do Brasil,
      embora tenha menos títulos que alguns. Como o clube mais democrático do Brasil, eu
      acho que isso aqui (o respeito entre as torcidas) também é um triunfo nosso
      importantíssimo que temos que ostentar, que permitiu que a gente chegasse até aqui,
      permitiu que houvesse ações afirmativas e a primeira pessoa que procurei quando tive
      a ideia de fundar a torcida foi o presidente da Bamor na época. Ele estava convicto
      que esse era um gesto importante, embora ele soubesse e me alertou que eu ia
      enfrentar muita dificuldade e quando eu comecei a enfrentar essas dificuldades ele
      me deu vários “toques” do que fazer e como encarar. É um cara que eu tenho um
      carinho inestimável. Existe uma cultura preestabelecida (da violência entre as
      torcidas) e como a gente muda isso? Com ações. Acho que o Bahia deu um passo muito
      importante e estamos aqui, quem mais vai dar esse passo, para outros chegarem aonde
      a gente chegou? <br />
      <strong>R:</strong> Você enxerga a LGBTricolor como um “escudo” para eles? No caso,
      para evitar ações homofóbicas?<br />
      <strong>Onã:</strong> Eu vejo, se me procurar e eu ficar sabendo, vai ter! É isso.
      Eu sinto também esse olhar, só não posso dizer que esse olhar é generalizado. No
      nosso filtro não passa nada. A gente vai se posicionar, vai cobrar!<br />
      <strong>R:</strong> Como você vê a ação das bandeirinhas (Levante a Bandeira) e como
      que foi essa repercussão para você, como pessoa e como fundador da torcida?<br />
      <strong>Onã:</strong> Foi essa ação que fez com que a gente existisse, foi essa ação
      que me deu aquele “start” o clube quer debater isso, acho que eles querem que a
      gente exista. Quando eles botaram (as bandeirinhas) todos sabiam do que se tratava,
      tava ali, tava explícito, estava gritante. O que as pessoas não podiam fazer era
      dizer nada, porque era uma decisão do clube e é isso. Eles vão dizer que “o clube
      tem que pensar no futebol”, agem na covardia, atacando as ações do clube, os
      dirigentes do clube, me atacando... pegando foto minha e espalhando por aí. Essas
      pessoas existem, mas eu quero lidar com as pessoas de boa fé, que ainda não sabem ou
      entendem. Que falam opção invés de orientação, que não entende por que usamos tantas
      letrinhas, é com essa gente que eu quero conversar. Porque ganhar jogo eu também
      quero, óbvio que isso mexe com meu humor também, mas é isso vamos fazer o Bahia ser
      maior do que ele já é. O Bahia é um clube muito democrático, nós temos que replicar
      isso na sociedade. Todos pensam em um bem maior, isso que temos que levar. <br />
      Eu não quero romantizar tudo não. É luta! Lá dentro, tem gente no Bahia que é homem,
      branco, hetero, que está empenhado em se desfazer de certos privilégios para ajudar
      a causa. Um deles é o próprio presidente. Assim como eu sofro pressão, essas pessoas
      também sofrem por tomar um lado. É muito complicado. Fora de qualquer romantização,
      o Bahia é um clube que está empenhado em ser do povo. Eu me sinto incluído.
    </p>
    <h3 class="blue mt-3 text-weight-bold">A pioneira</h3>
    <app-banner src="foto_torcida.jpeg" alt="Foto da torcida"></app-banner>
    <p class="mt-3 text-justify blue">
      Criada no dia 10 de abril de 1977, pelo empresário e cantor, Volmar Santos, a
      Coligay foi pioneira no âmbito das torcidas LGBTQIA+, no cenário brasileiro. Com
      roupas chamativas e que fugiam dos padrões, principalmente para época, a torcida
      marcou presença em diversos jogos do Grêmio.
    </p>
    <p class="text-justify blue">
      Em entrevista ao <i>El País</i>, Volmar afirmou que o objetivo da Coligay era trazer
      mais animação aos jogos do tricolor. E, durante seis anos, a torcida atraiu os
      holofotes dos estádios e alegrou os jogos do clube gaúcho, tanto no Olímpico, quanto
      no interior do Rio Grande do Sul.
    </p>
    <p class="text-justify blue">
      O fundador da torcida também comentou que os integrantes sabiam os problemas que
      surgiriam, devido ao preconceito existente com relação aos homossexuais. Além disso,
      ele deixou claro que, para tentar auxiliar os integrantes de possíveis confrontos
      provindos da repressão sofrida, aulas de karatê foram pagas para os membros. Outro
      incentivo financeiro dado pelo presidente da torcida era referente às viagens, uma
      vez que ele financiava todas as caravanas.
    </p>
    <p class="text-justify blue">
      Por fim, ainda que por coincidência, a existência da torcida, que ficou conhecida
      como “pé-quente”, marcou um dos momentos mais vitoriosos da história do clube. 
      Nesse período, o Grêmio conquistou um Brasileirão, uma Libertadores, um Mundial de
      Clubes e três Campeonatos Gaúchos, incluindo o que encerrou um jejum de oito anos
      sem títulos estaduais.
    </p>
    <h3 class="blue mt-3 text-weight-bold">Coletivo LGBT</h3>
    <p class="text-justify blue">
      Atualmente, algumas torcidas se organizaram e fundaram o Coletivo Nacional de
      Torcidas LGBTQIA+. O grupo, também conhecido como “Canarinhos Arco-Íris”, visa
      combater a violência e o preconceito sofrido por pessoas LGBTs no ambiente do
      futebol.
    </p>
    <p class="text-justify blue">
      Além disso, o coletivo também cobra posicionamentos e atitudes de entidades que
      regem o esporte, buscando gerar mais respeito e segurança para pessoas que estejam
      inseridas nesse contexto.
    </p>
    <app-banner
      src="coletivo_lgbt.png"
      alt="Coletivo Nacional de Torcidas LGBTQ"
    ></app-banner>
    <p class="mt-3 text-justify blue">
      A organização é composta pelas torcidas: LGBTricolor (<strong>Bahia</strong>),
      Orgulho Rubro Negro (<strong>Vitória</strong>), Frasqueira LGBT
      (<strong>ABC</strong>), Coral Pride (<strong>Santa Cruz</strong>), Paraná-LGBT
      (<strong>Paraná</strong>), Athletico LGBTQ (<strong>Athletico Paranaense</strong>),
      Marias de Minas (<strong>Cruzeiro</strong>), Palmeiras Livre
      (<strong>Palmeiras</strong>), Papão Livre (<strong>Paysandu</strong>), Vozão Pride
      (<strong>Ceará</strong>), Vasco LGBT (<strong>Vasco de Gama</strong>), Timão LGBTQI+
      (<strong>Corinthians</strong>) e Coxa LGBTQI+ (<strong>Coritiba</strong>).
    </p>
    <h3 class="blue mt-3 text-weight-bold">Punição</h3>
    <p class="text-justify blue">
      Em junho, o Superior Tribunal Federal (STF) decidiu pela criminalização da homofobia
      e da transfobia, que agora podem ser enquadradas da mesma forma que racismo, com
      pena prevista de um a três anos de cadeia. Após essa decisão, o Superior Tribunal de
      Justiça Desportiva (STJD) passou a recomendar que árbitros relatem casos de
      homofobia nas súmulas das partidas e parem os jogos caso isso aconteça. Apesar da
      lei ser clara, nem sempre ela é atuante, e para debater um pouco mais sobre as
      questões de impunidade, ouça a nossa série de podcast debatendo um pouco mais sobre
      o assunto. Se liga aí!
    </p>

    <iframe
      src="https://open.spotify.com/embed-podcast/episode/4VUNHybtc2LoolUnV4bWNF"
      width="100%"
      height="232"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>

    <iframe
      src="https://open.spotify.com/embed-podcast/episode/3mVyVgX7zSSPvR1jpJxbV6"
      width="100%"
      height="232"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>

    <h3 class="blue mt-3 text-weight-bold">S.O.S Praias</h3>
    <app-banner src="sos_praia.jpg" alt="Campanha SOS Praia"></app-banner>
    <p class="mt-3 text-justify blue">
      Pela primeira vez na história do Esporte Clube Bahia, o preto se misturou com o
      azul, vermelho e branco, combinação de cores tradicional da camisa do clube, e foi
      por uma causa nobre. Com a representação de manchas de óleo no manto tricolor, o
      Bahia buscava alertar sobre o derramamento de petróleo que assolou o litoral
      nordestino, a partir de setembro de 2019, além de externar o fato de ninguém ter
      assumido a culpa.
    </p>
    <p class="text-justify blue">
      Contra o Ceará, em partida válida pelo Campeonato Brasileiro de 2019, o Bahia entrou
      em campo com estas camisas, para protestar em prol da causa. Outros times
      nordestinos abraçaram a ação e seguiram o exemplo do tricolor baiano, fazendo seus
      próprios protestos, além de organizar um manifesto em conjunto, no qual os jogadores
      entravam em campo com luvas pretas, simbolizando as mãos manchadas de óleo.
    </p>
    <p class="text-justify blue">
      Mais de 171 cidades e 150 praias foram infestadas com o óleo, um grande desastre
      ambiental no litoral da região, sem a devida punição aos responsáveis. Além do meio
      ambiente, muita gente foi afetada. Com isso, o Bahia produziu quatro camisas como
      esta e as colocou para leilão, arrecadando mais de 7 mil reais e revertendo toda a
      renda para a ONG Guardiões do Litoral, que atuou na retirada do óleo das praias
      baianas. “O problema é seu. O problema é nosso”, assim o Bahia iniciou o texto do
      manifesto, buscando impactar os leitores ao que realmente importava.
    </p>
    <p class="text-justify blue">
      Mais de um ano depois do vazamento, de 5 mil toneladas de óleo, nenhum responsável
      foi devidamente identificado ou punido. Segundo a Marinha, a substância é de origem
      venezuelana, mas não se sabe a fonte inicial da mesma. Através de investigações, só
      descobriram que o óleo foi derramado no oceano, a cerca de 700 km da costa do
      Brasil, e veio submerso ao país, emergindo naturalmente nas praias do litoral
      nordestino.
    </p>
    <h3 class="blue mt-3 text-weight-bold">#EsseJogoSeGanhaEmCasa</h3>
    <p class="text-justify blue">
      Após a onda de contaminação no mundo inteiro, o primeiro caso da Covid-19 no Brasil
      foi registrado no dia 26 de fevereiro. Menos de um mês depois, no dia 23 de março, o
      Bahia publicou um vídeo no Twitter, lançando a hashtag
      <i>“#EsseJogoSeGanhaEmCasa”</i>, que tinha como objetivo conscientizar os torcedores
      e a população sobre o perigo do vírus e a importância do isolamento social.
    </p>
    <p class="text-justify blue">
      A campanha contou com a participação de Gregore, Juninho Capixaba, Rossi e
      Rodriguinho, jogadores do clube, além da presença de artistas como: Carlinhos Brown,
      Gilberto Gil, João Miguel, Jorge Washington, Regina Casé, Rita Batista, Roque, Tia
      Má e Ivete Sangalo, que torce para o Vitória. No vídeo, as figuras intensificaram o
      discurso de que as pessoas deveriam cumprir a quarentena e não sair de suas casas,
      para reter a taxa de contaminação do vírus.
    </p>
    <app-banner-link
      src="campanha_covid.jpeg"
      alt="Campanha COVID"
      link="https://www.instagram.com/p/B91Vu5UJFJ4"
    ></app-banner-link>
    <p class="mt-3 text-justify blue">
      Além da publicidade, o Bahia também cedeu o seu antigo Centro de Treinamento (CT)
      para apoiar a rede de Saúde do Estado durante o período da pandemia. O CT Osório
      Villas Boas, popularmente conhecido como Fazendão, recebeu 44 leitos clínicos e teve
      como objetivo receber pacientes que apresentavam quadros clínicos de baixa
      complexidade.
    </p>
    <p class="text-justify blue">
      Em entrevista prestada ao próprio site do Governo do Estado, a diretora do Centro de
      Prevenção e Reabilitação de Deficiências (Cepred), Normelia Quinto, afirmou que o
      intuito dos leitos instalados no Fazendão era a consequente liberação de vagas em
      outros hospitais, para pacientes que estivessem em estado crônico.
    </p>
    <p class="text-justify blue">
      Para completar, o Bahia lançou camisas com o símbolo do Sistema Único de Saúde (SUS)
      na parte frontal, numa campanha para conscientizar a manutenção da unidade como
      órgão público, contra a sua suposta privatização. As camisas foram vendidas para
      torcedores de todo o Brasil, alcançando duas mil vendas apenas no primeiro dia. O
      valor do lucro arrecadado foi revertido em favor de unidade do SUS em Salvador.
    </p>
    <p class="text-justify blue">
      Torcedores de Corinthians, Internacional, Fortaleza, Náutico, Cruzeiro, entre outros
      clubes brasileiros, fizeram questão de comprar a camisa e apoiar a causa, para
      conscientizar as pessoas ao seu redor e celebrar a causa defendida pelo Bahia.
    </p>
  </div>
</div>
