<div class="row mt-4">
  <div class="col-12">
    <h3 class="blue d-flex justify-content-center text-weight-bolder">
      Bahia de todos e ponto
    </h3>
    <p class="text-justify blue">
      Uma indagação que deveria ser corriqueira é: qual a graça do futebol? São 22 seres
      pensantes correndo instintivamente atrás de uma bola, de maneira quase inata e nem
      sempre racional. Um longo gramado, cercado por quatro retas de cal, demarca a
      batalha. Nas extremidades, três postes de metal branco e maciço formam a moldura do
      objetivo principal, culminando nos barbantes, que decaem de maneira graciosa e
      sempre levam todos às vibrações mais intensas.
    </p>
    <blockquote class="text-center blue">
      “Posso morrer pelo meu time<br />
      Se ele perder, que dor, imenso crime<br />
      Posso chorar se ele não ganhar<br />
      Mas se ele ganha não adianta<br />
      Não há garganta que não pare de berrar”<br />
      <strong>(Skank - É uma partida de futebol)</strong>
    </blockquote>
    <p class="text-justify blue">
      Pode não fazer sentido explicando de maneira literal, mas quem vive e sente o
      futebol, sabe que o intrigante deste esporte vai muito além do que os olhos vêem. É
      inefável a paixão que transborda por esse jogo. Não que não exista uma explicação
      lógica, mas porque a mesma nem precisa ser dada. Futebol se sente e ponto.
    </p>
    <p class="text-justify blue">
      Tendo isso em mente, crê-se que o esporte mais popular do planeta seja um ambiente
      democrático, para todos. Onde pessoas de todos os lugares, credos e tipos possam se
      sentir incluídas e plenas. Ora, teoricamente, sim. Mas, na prática, todos sabem que
      o caminho ainda é longo até se chegar nessa realidade ideal.
    </p>
    <p class="text-justify blue">
      Infelizmente, a beleza desse jogo tão atrativo é muitas vezes manchada por parte de
      quem o ama. O cerne do futebol ainda é muito masculinizado, portanto casos de
      homofobia e machismo são cruelmente comuns. Vai além. Apesar do Rei do esporte, além
      de muitos outros gigantes de sua história, ser negro, o futebol vive mostrando seu
      lado racista constantemente. O preconceito ainda é vivo no jogo que deveria ser do
      povo.
    </p>
    <p class="text-justify blue">
      Para isso e para tanto, existem as lutas, as mudanças. O Esporte Clube Bahia é um
      exemplo neste quesito. Sempre tido como um clube do povo, o Tricolor baiano faz
      questão de honrar a alcunha nos últimos anos, com belas ações afirmativas, sociais e
      inclusivas, que permitem que, pelo menos por um instante, o futebol seja, de fato,
      democrático, empático e demagogo.
    </p>
    <p class="text-justify blue">
      O reflexo de tais ações no clube e na sociedade em que está inserido são reais. O
      Bahia, hoje, respira novos ares. Os torcedores do clube se influenciam e se
      orgulham, em sua grande maioria, entendendo que este jogo foi feito para ser amado
      por todos, sem discriminações. Confira:
    </p>
    <div class="embed-container">
      <iframe
        src="https://www.youtube.com/embed/7Ie4oL17Nwc"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <h3 class="mt-3 blue d-flex justify-content-center text-weight-bolder">
      Em nome do pai
    </h3>
    <p class="text-justify blue">
      De acordo com o último Censo Escolar, realizado pelo Conselho Nacional de Justiça
      (CNJ) e divulgado em 2013, há 5,5 milhões de crianças brasileiras sem o nome do pai
      na certidão de nascimento. Na semana que antecedeu o dia dos pais, em 2019, o Bahia,
      Junto à Defensoria Pública da Bahia, lançou um vídeo em suas redes sociais
      (Instagram, Twitter, Facebook e YouTube) que teve como intenção principal reduzir
      esse número exorbitante.
    </p>
    <div class="embed-container mb-3">
      <iframe
        src="https://www.youtube.com/embed/w0ZPNer-T5g"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="text-justify blue">
      Além da produção audiovisual que teve a direção de Pis Santos, roteiro de Pis Santos
      e Tiago César e produção de Victor Cerqueira além da locução feita por Carolina
      Ribeiro. O Bahia realizou uma campanha, na loja oficial do clube, que ofereceu
      testes de DNA gratuitos e tirou dúvidas sobre registro paterno. A ação durou uma
      semana e beneficiou cerca de 100 crianças, segundo dados revelados pelo Tricolor.
    </p>
    <p class="text-justify blue">
      Nos sete meses anteriores à campanha foram realizados 190 exames de DNA na cidade de
      Salvador. Em apenas cinco dias de campanha na loja oficial do clube o número de
      exames era de 90, quase a metade dos exames feitos nos sete meses que antecederam a
      ação. Além disso, foram 291 atendimentos de orientação jurídica para registro de
      paternidade.
    </p>
    <p class="text-justify blue">
      A campanha também teve uma grande repercussão nas redes sociais do clube. Veja
      abaixo os números oficiais de interações:
    </p>
    <ul class="blue">
      <li>
        <fa-icon [icon]="twitter"></fa-icon>
        Twitter: 1,3 milhão de impressões, 1 milhão de visualizações, 105 mil de
        engajamento total;
      </li>
      <li>
        <fa-icon [icon]="facebook"></fa-icon>
        Facebook: 625 mil de alcance, 115 mil visualizações, 12 mil de engajamento total;
      </li>
      <li>
        <fa-icon [icon]="instagram"></fa-icon>
        Instagram: 61 mil visualizações, 17 mil curtidas, 1,3 mil comentários;
      </li>
      <li>
        <fa-icon [icon]="youtube"></fa-icon>
        YouTube: 11,5 mil visualizações, 1,1 mil curtidas, 89 comentários;
      </li>
    </ul>
    <app-banner src="levante_bandeira.png" alt="Levante a bandeira"></app-banner>
    <h3 class="blue mt-3 d-flex justify-content-center text-weight-bolder">
      Levante a bandeira
    </h3>
    <p class="text-justify blue">
      Seis barras horizontais e seis cores diferentes. Assim é formado um dos símbolos do
      orgulho e da resistência LGBTQIA+. Usada desde a década de 1970, a bandeira, ainda
      vista com muito preconceito, ganhou holofotes em 2019, na 19ª rodada do Campeonato
      Brasileiro. No duelo entre Bahia e Ceará, o Tricolor de Aço organizou e executou a
      campanha “Levante a Bandeira”, que visava combater a homofobia dentro e fora das
      quatro linhas.
    </p>
    <p class="text-justify blue">
      A ação, lançada no dia 14 de setembro de 2019, foi divulgada nas redes sociais do
      Bahia através de um vídeo narrado por um costureiro homossexual que é torcedor do
      clube. Na campanha, o Esquadrão trouxe uma reflexão sobre a “linha da vida”,
      buscando demonstrar como a vida dos homossexuais se torna mais curta devido ao
      preconceito sobre a sua orientação sexual.
    </p>
    <p class="text-justify blue">
      Segundo os dados registrados pelo Grupo Gay da Bahia (GGB), entidade que coleta
      informações sobre a homotransfobia há mais de 40 anos, em Salvador, por exemplo, o
      número de mortes violentas de pessoas LGBTQIA+ é alarmante: das 329 mortes que
      ocorreram em 2019, 12 (3,65%), ocorreram na cidade soteropolitana - o que a deixou,
      como a capital com mais mortes no país. Já em termos estaduais, a Bahia ocupa o
      segundo lugar no Brasil: foram 32 mortes (9,73%) no ano em questão. O Estado do
      Tricolor de Aço fica atrás somente de São Paulo, que registrou 50 mortes (15,2%).
    </p>
    <p class="text-justify blue">
      Além desses números, também pode-se notar a gravidade dessa questão em outros
      gráficos produzidos pelo GGB. A entidade registrou, em 2019, 329 casos de mortes
      violentas de pessoas que integram o grupo LGBTQIA+. Em comparação com os dois anos
      anteriores, é possível notar uma queda no número de casos: 420 em 2018 e o recorde,
      445, em 2017.
    </p>
    <p class="text-justify blue">
      Entretanto, a pesquisa ainda traz números preocupantes, uma vez que nas últimas duas
      décadas a média de mortes aumentou. Em 2000, em média, eram 130 homicídios. Já em
      2010, o número era de 260. Enquanto isso, essa média saltou para 398 nos últimos
      três anos.
    </p>
    <p class="text-justify blue">
      Outro dado que ilustra esse problema foi levantado pela ONG Transgender Europe
      (TGEu), em 2016. A TGEu publicou uma pesquisa revelando como o Brasil é, de maneira
      isolada, o país que mais mata transexuais. O levantamento, realizado entre janeiro
      de 2008 e julho de 2016, revelou que no país morreram, pelo menos, 868 travestis e
      transexuais durante esse período. Para se ter ideia, no México, segundo colocado do
      ranking, morreram 259 pessoas – um número três vezes menor do que os registrados no
      território brasileiro.
    </p>
    <app-banner src="intolerancia.png" alt="Intolerância"></app-banner>
    <p class="mt-3 text-justify blue">
      A cada 26 horas um LGBTQIA++ é assassinado ou se suicida vítima da LGBTfobia, o que
      confirma o Brasil como campeão mundial de crimes contra as minorias sexuais. Segundo
      agências internacionais de direitos humanos, matam-se muitíssimo mais homossexuais e
      transexuais no Brasil do que nos 13 países do Oriente e África onde persiste a pena
      de morte contra tal seguimento. Mais da metade dos LGBTQIA+ assassinados no mundo
      ocorrem no Brasil (WAREHAM, 2020).
    </p>
    <blockquote class="text-center font-weight-bold blue">
      “Agora vai ser assim, sempre que alguém disser<br />
      onde acaba meu campo, eu levantarei bandeira”
    </blockquote>
    <div class="embed-container mb-3">
      <iframe
        src="https://www.youtube.com/embed/BsaPLQbc0vU"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="text-justify blue">
      Buscando alertar sobre o cotidiano de crimes motivados pela homofobia e repudiar
      cânticos, xingamentos ou gestos homofóbicos, dentro dos estádios e fora deles.
    </p>
    <h3 class="blue mt-3 text-weight-bold">Punição</h3>
    <p class="text-justify blue">
      Em junho, o Superior Tribunal Federal (STF) decidiu pela criminalização da homofobia
      e da transfobia, que agora podem ser enquadradas da mesma forma que racismo, com
      pena prevista de um a três anos de cadeia. Após essa decisão, o STJD passou a
      recomendar que árbitros relatem casos de homofobia nas súmulas das partidas e parem
      os jogos caso isso aconteça.
    </p>
    <h3 class="blue mt-3 text-weight-bold">S.O.S Praias</h3>
    <app-banner src="sos_praia.jpg" alt="Campanha SOS Praia"></app-banner>
    <p class="mt-3 text-justify blue">
      Pela primeira vez na história do Esporte Clube Bahia, o preto se misturou com o
      azul, vermelho e branco, tradicional da camisa do clube, e foi por uma causa nobre.
      Com a representação de manchas de óleo no manto tricolor, o Bahia buscava alertar
      sobre o derramamento de petróleo que assolou o litoral nordestino a partir de
      setembro de 2019, além de externar o fato de ninguém ter assumido a culpa.
    </p>
    <p class="text-justify blue">
      Contra o Ceará, em partida válida pelo Campeonato Brasileiro de 2019, o Bahia entrou
      em campo com estas camisas, para protestar em prol da causa. Outros times
      nordestinos abraçaram a causa e seguiram o exemplo do tricolor baiano, fazendo seus
      próprios protestos, além de organizar um manifesto em conjunto.
    </p>
    <p class="text-justify blue">
      Mais de 171 cidades e 150 praias foram infestadas com o óleo, um grande desastre
      ambiental no litoral da região, sem a devida punição aos responsáveis. Além do meio
      ambiente, muita gente foi afetada. Com isso, o Bahia produziu quatro camisas como
      esta e as colocou para leilão, arrecadando mais de 7 mil reais e revertendo toda a
      renda para a ONG Guardiões do Litoral, que atuou na retirada do óleo das praias
      baianas. “O problema é seu. O problema é nosso”, assim o Bahia iniciou o texto do
      manifesto, buscando impactar os leitores ao que realmente importava.
    </p>
    <p class="text-justify blue">
      Mais de um ano depois do vazamento, de 5 mil toneladas de óleo, nenhum responsável
      foi devidamente identificado ou punido. Segundo a Marinha, a substância é de origem
      venezuelana, mas não sabe-se a fonte inicial da mesma. Através de investigações, só
      foi descoberto que o óleo foi derramado no oceano a cerca de 700 km da costa do
      Brasil e veio submerso ao país, emergindo naturalmente nas praias do litoral
      nordestino.
    </p>
    <h3 class="blue mt-3 text-weight-bold">#EsseJogoSeGanhaEmCasa</h3>
    <p class="text-justify blue">
      Após a onda de contaminação no mundo inteiro, o primeiro caso da Covid-19, no
      Brasil, foi registrado no dia 26 de fevereiro. Menos de um mês depois, no dia 23 de
      março, o Bahia publicou um vídeo no Twitter, lançando a hashtag
      “#EsseJogoSeGanhaEmCasa”, que tinha como objetivo conscientizar os torcedores e a
      população sobre o perigo do vírus.
    </p>
    <p class="text-justify blue">
      A campanha contou com a participação de Gregore, Juninho Capixaba, Rossi e
      Rodriguinho, jogadores do próprio Bahia, além da presença de artistas como:
      Carlinhos Brown, Gilberto Gil, João Miguel, Jorge Washington, Regina Casé, Rita
      Batista, Roque, Tia Má e Ivete Sangalo, que torce para o Vitória. No vídeo, as
      figuras intensificaram o discurso de que as pessoas deveriam cumprir a quarentena e
      não deveriam sair de suas casas.
    </p>
    <app-banner-link
      src="campanha_covid.jpeg"
      alt="Campanha COVID"
      link="https://www.instagram.com/p/B91Vu5UJFJ4"
    ></app-banner-link>
    <p class="mt-3 text-justify blue">
      Além da publicidade, o Bahia também cedeu o seu antigo Centro de Treinamento para
      apoiar à rede de Saúde do Estado durante o período da pandemia. O CT Osório Villas
      Boas, ou Fazendão, recebeu 44 leitos clínicos e teve como objetivo receber pacientes
      que apresentassem quadros clínicos de baixa complexidade.
    </p>
    <p class="text-justify blue">
      Em entrevista prestada ao próprio site do Governo do Estado, a diretora do Centro de
      Prevenção e Reabilitação de Deficiências (CEPRED), Normelia Quinto, afirmou que o
      intuito dos leitos instalados no Fazendão era a consequente liberação de vagas em
      outros hospitais para pacientes que estivessem em estado crônico.
    </p>
  </div>
</div>
